/* *{
    border: 1px solid black;
} */

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body div{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: paleturquoise;
}

body h1{
    width: 300px;
    font-family: "Segoe UI";
    text-align: center;
    text-transform: uppercase;
    background-color: paleturquoise;
}

body input[type=button]{
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 13pt;
    font-weight: bold;
    font-family: "Segoe UI";
}

body input[type=number]{
    width: 90%;
    height: 40px;
    margin: 10px;
    font-size: 30px;
    text-align: center;
}

footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    background-color: gainsboro;
}

img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

p{
    font-family: "Lucida Sans Unicode";
}

#numpad{
    width: 70%;
    height: 200px;
}